.git
.github
.idea
.vscode
.DS_Store
**/.DS_Store
.claude
.dev
.phive
.phpdoc
.phpstan
.pint

.env
.env.*
**/*.key
**/*.pem

.docker/.env
config/.env
config/configuration.php

node_modules
vendor
public/dist
bootstrap/cache
storage

backupdb
logs
release
target
userfiles
public/userfiles
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs

tests
types
helm
scripts
*.log

accessibility-mockup.html
codeception.yml
phpcs.xml
phpdoc*.xml
pint.json

public/mix-manifest.json
public/tiptap-test.html
public/assets/js/app/core/tiptap/test-utils.js
public/assets/js/libs/simple-color-picker-master/example.html
public/assets/js/libs/simple-color-picker-master/spec
public/assets/js/libs/simple-color-picker-master/spec-runner.html
public/assets/js/libs/simple-color-picker-master/vendor
